{% extends 'base.html.twig' %}
{% block body %}
    <section class="codes-logo">
        <div class="row justify-content-center">
            <h1>discount codes generator</h1>
        </div>
    </section>
    <section class="codes centered">
        <div class="container codes-params">
            <div class="row justify-content-center">
                {{ form_start(form) }}
                    {{ form_row(form.count) }}
                    {{ form_row(form.length) }}
                {{ form_end(form) }}
            </div>
            <div class="row centered">
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-generate" onclick="CodesGenerator.request()">Generate</button>
                </div>
                <div class="col col-download">
                    <button class="btn btn-lg btn-success btn-dload" disabled>Download</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
