body {
    background-image: url("../images/bg.jpg");
}

.codes-logo {
    color: #7c8ea3;
    font-family: 'Nosifer', cursive;
    margin-bottom: 10%;
}

.codes-params label {
    color: #7c8ea3;
    margin-right: 10px;
}

.codes-params .row {
    text-align: right;
    padding: 20px;
}

.codes {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.col-download {
    text-align: left;
}